## <center> R Programming Reference Sheet </center> 
---

### <center> Conditional Statements </center>

To execute or not execute a block of code based on conditions (logical tests)

#### **`if`** Statement

`if(condition){`
    
`execute block of code`
    
`}`

In [6]:
hot <- FALSE
temp <- 21

if (temp > 26){
    hot <- TRUE
}

hot

[1] FALSE

#### **`if-else`** Statement

`if(condition){`
    
`execute block of code`
    
`} else{` 

`execute block of code`

`}`

In [3]:
temp <- 21

if (temp > 26){
    hot <- TRUE
} else{ 
    hot <- FALSE
}

hot

[1] FALSE

#### **`if - else if - else`** Statement

`if(condition){`
    
`execute block of code`
    
`} else if{` 

`execute block of code`

`}`

`else{`

`execute block of code`

`}`

In [5]:
temp <- 21 

if (temp <= 0){ 
    print("It's very cold")
} else if (temp > 0 & temp <= 10){ 
    print("It's cold")
} else if (temp > 10 & temp <= 20){ 
    print("It's cool")
} else if (temp > 20 & temp < 30){ 
    print("It's warm")
} else{
    print("It's hot")
}

[1] "It's warm"

---
### <center> Loops </center> 

**While Loop**
* Repetately executes a block of code while a condition is true.
* If condition never becomes false, you get an infinite loop! Press **`Ctrl-C`** to kill process.
* Also, **`break`** statement by itself, allows you to break out of a loop.

`while (condition){`

`execute block of code`

`if(condition){`

`break`

`}`

`}`

In [73]:
t <- 18 

while (t < 21){
    cat("Temperature is:", x, "\n")
    print("It's too cold, increment themostat by 1 degree.") 
    t <- t+1
} 
cat("Temperature is:", t, "\n")
print("The temperature is perfect!")

Temperature is: 21
[1] "It's too cold, increment themostat by 1 degree."
Temperature is: 21
[1] "It's too cold, increment themostat by 1 degree."
Temperature is: 21
[1] "It's too cold, increment themostat by 1 degree."
Temperature is: 21
[1] "The temperature is perfect!"

**For Loop**
* For loopes iterate over an object (e.g. vector, matrix, list) and execute a block of code at each loop.

`for (element in iterable_object){`

`execute block of code`

`}`

In [11]:
days <- c("M", "T", "W", "R", "F", "S", "U")
temp <- c(18, 17, 16, 17, 17, 19, 18)

In [12]:
for (t in temp){ 
    print(t)
}

[1] 18
[1] 17
[1] 16
[1] 17
[1] 17
[1] 19
[1] 18

In [16]:
# Altenrative basted on index
for (i in 1:length(temp)){ 
    print(temp[i])
}

**Nested Loops**

In [22]:
mtx <- matrix(data=1:4, nrow=2, byrow=TRUE)
mtx

     [,1] [,2]
[1,] 1    2
[2,] 3    4

In [24]:
for (row in 1:nrow(mtx)){ 
    for (col in 1:ncol(mtx)){ 
        print(mtx[row, col])
    } 
}

[1] 1
[1] 2
[1] 3
[1] 4

---
### <center> R Functions </center>

* A function could just output some result without a `return` statement, but typically we pass the function result into a variable, in which case we must use `return`. 
* Functions typically have arguments, but they don't technically have to. 
* We can give default values to the arguments if we want to.

`func.name <-function(var1=def1,...,varn=defn){`

`execute block of code`

`return(variable)`

`}`

In [49]:
fahr_to_cels <- function(temp_f=32){ 
    temp_c <- (temp_f-32)*(5/9)
    return(temp_c)
}

In [35]:
fahr_to_cels() # Returns result for default

[1] 0

In [34]:
round(fahr_to_cels(80),2)

[1] 26.67

---
### <center> Build-in R Features </center>

| Function | Description | Example | 
| ---- | ---- | ---- |
| **`seq(from, to, by)`** | Returns a vector with a number sequence | **`vec <- seq(from=0, to=5, by=2) --> 0, 2, 4`** |
| **`sort(x, decreasing)`** | Sorts a vector in ascenting or descending order | **`sort(x=vec, descreasing=TRUE)`**|
| **`rev(x, decreasing)`** | Reverses its argument's order | **`rev(x=vec, decreasing=TRUE)`** |
| **`str(object)`** | Returns the strucure of the object | **`str(object=vec)`** | 
| **`append(x, values, after)`** | Adds elements to a vector at end or specified index | **`append(vec1, vec2)`** |
| **`is.objectType(x)`** | Returns TRUE if x is a vector, and FALSE otherwise | **`is.vector(vec) --> TRUE`** |
| **`as.objectType(x)`** | Casts argument to defined object type | **`as.matrix(vec)`** |
| **`sample(x, size, replace)`** | Creates a random sample from x of size n with or without replacement | **`sample(x=vec, size=5, replace=FALSE)`** |
| **`lapply(x, FUN)`** | Returns a list of FUN(x) having the same length as x. l is for list. | **`lapply(temps, fahr_to_cels)`** |
| **`sapply(x, FUN)`** | Simpler version that returns a vector or matrix of FUN(x) with same length as x. s is for simple. | **`sapply(temps, fahr_to_cels)`** |
|**`function(x){f(x)}`** | Anonymous function (**`lambda function`** in Python) for simple, one use cases. Essentially strips extra elements of full function definition. | **`sapply(temps, function(x){(x-32)*(5/9)})`** |
| **`grep(pattern, x)`** | Regular expression - returns number of instances of pattern in string, index locations if vector. | **`grep("hello", some_string)`** | 
| **`grepl(pattern, x)`** | Regular expression - returns TRUE if pattern found in string. logical vector if input is a vector. l for logical. | **`grepl("hello", some_string)`** |
| **`Sys.Date()`** | Returns the system's idea of the current date. | **`Sys.Date()`** | 
| **`Sys.Time()`** | Returns the system's idea of the current time. | **`Sys.Time()`** | 
| **`as.Date(x, format)`** | Converts a string of a date, to a date class, given the string's date format. | **`as.Date(x="Nov-03-90", format="%b-%d-%y")`** |
| **`strptime(x, format, tz)`** | Converts a string of a date, to a time class given the string's time format. | **`strptime("11:02:03", format="%H:%M:%S")`** |

In [67]:
# lapply and sapply example
f_temps = lapply(temps, fahr_to_cels)
t(as.matrix(f_temps)) # transpose matrix result to save space

     Mon      Tue      Wed Thu      Fri      Sat      Sun
[1,] 22.22222 21.66667 20  22.77778 20.55556 23.88889 21.66667

**Format codes for the **`as.Date()`** and **`strptime()`** functions**
    
| Code | Description | 
| ---- | ---- | 
| | **Date** |
|**`%d`** | Day of the month (decimal number) |
|**`%m`**| Month (decimal nuber)|
|**`%b`**| Month (abbreviated) |
|**`%B`**| Month (full name) |
|**`%y`**| Year (2 digit) |
|**`%Y`**| Year (4 digit) |
| | **Time** |
|**`%H`** | Hours as a decimal number (00-23) | 
|**`%I`** | Hours as a decimal number (01-12) | 
|**`%M`** | Minute as a decimal number (00-59) | 
|**`%S`** | Second as an integer number (00-61) allowing up to two leap seconds) | 
|**`%p`** | AM/PM indicator, for %I only | 
|**`%r`** | Shorthand, equivalent to `%I:%M:%S %p` | 
|**`%R`** | Shorthand, equivalent to `%H:%M` | 
|**`%T`** | Shorthand, equivalent to `%H:%M:%S` |

**Math Functions with R**

| Function | Description | 
| ---- | ---- |
|**`abs(x)`** | Returns the absoluve value of x |
|**`sum(x)`** | Returns the sum of all values present in x | 
|**`mean(x)`** | Returns the average of elements in x |
|**`sqrt(x)`** | Returns the square root of x |
|**`ceiling(x)`** | Returns the ceiling of x | 
|**`floor(x)`** | Returns the floor of x |
|**`trunc(x)`** | Returns the trucation of x | 
|**`round(x, digits=n)`** | Rounds x to n decimal points |
|**`signif(x, digits=n)`** | Returns x with a TOTAL of n digits |
|**`cos(x), sin(x), tan(x)`** | Performs trigonometric operations on x |
|**`log(x)`** | Returns the natural algorithm of x | 
|**`log10(x)`** | Returns the common (base 10) logarithm of x | 
|**`exp(x)`** | Returns the natural exponent of x (e^x) |