### <center> R Data Frames Exercises </center>

**Ex 1**: Recreate the following dataframe by creating vectors and using the data.frame function:

In [3]:
Age <- c(22, 25, 26) 
Weight <- c(150, 165, 120) 
Sex <- c("M", "M", "F")

df <- data.frame(Age, Weight, Sex)
rownames(df) <- c("Sam", "Frank", "Amy")
df

      Age Weight Sex
Sam   22  150    M
Frank 25  165    M
Amy   26  120    F

**Ex 2**: Check if mtcars is a dataframe using **`is.data.frame()`**

In [4]:
is.data.frame(mtcars)

[1] TRUE

**Ex 3**: Use **`as.data.frame()`** to convert a matrix into a dataframe:

In [5]:
mat <- matrix(1:25, nrow=5) 
mat

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

In [6]:
as.data.frame(mat)

  V1 V2 V3 V4 V5
1 1   6 11 16 21
2 2   7 12 17 22
3 3   8 13 18 23
4 4   9 14 19 24
5 5  10 15 20 25

**Ex 4**: Set the built-in data frame mtcars as a variable df. We'll use this df variable for the rest of the exercises.

In [7]:
df <- mtcars

In [8]:
head(x=df, n=6)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

**Ex 6**: What is the average mpg value for all the cars?

In [9]:
mean(df$mpg)

[1] 20.09062

In [10]:
mean(df[["mpg"]])

[1] 20.09062

**Ex 7**: Select the rows where all cars have 6 cylinders (cyl column)

In [18]:
df[(df$cyl==6),] # REMEMBER THE COMMA!

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

In [19]:
subset(x=df, subset=(cyl==6))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

**Ex 8**: Select the columns am,gear, and carb.

In [21]:
head(df[,c("am", "gear", "carb")])

                  am gear carb
Mazda RX4         1  4    4
Mazda RX4 Wag     1  4    4
Datsun 710        1  4    1
Hornet 4 Drive    0  3    1
Hornet Sportabout 0  3    2
Valiant           0  3    1

**Ex 9**: Create a new column called performance, which is calculated by hp/wt.

In [22]:
df["Performance"] <- df["hp"]/df["wt"]

In [23]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  Performance
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

**Ex 10**: Your performance column will have several decimal place precision. Figure out how to use round() (check help(round)) to reduce this accuracy to only 2 decimal places.

In [24]:
df["Performance"] <- round(df["Performance"], 2)
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  Performance
Mazda RX4         41.98
Mazda RX4 Wag     38.26
Datsun 710        40.09
Hornet 4 Drive    34.21
Hornet Sportabout 50.87
Valiant           30.35

**Ex 11**: What is the average mpg for cars that have more than 100 hp AND a wt value of more than 2.5.

In [35]:
mean(df[(df$hp>100) & (df$wt>2.5),][["mpg"]])

[1] 16.86364

**Ex 12**: What is the mpg of the Hornet Sportabout?

In [37]:
df["Hornet Sportabout",][["mpg"]]

[1] 18.7