### <center> R Programming Basics </center>

#### <center> Logical Operators </center>

| Operator | Description | 
| ---- | ---- | 
| **`&`** | AND | 
| **`\|`** | OR |
| **`!`** | NOT |

In [2]:
x <- 10

In [3]:
x < 20

[1] TRUE

Parentheses help improve readability and can also be used to determine order of operations.

In [4]:
(x < 20) & (x > 10)

[1] FALSE

In [5]:
(x < 20) & (x > 5) & (x == 10)

[1] TRUE

**Logical Operators on Data Frames**

We will often use such expressions to filter data we work on. Example:

In [6]:
df <- mtcars
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [7]:
df[(df["mpg"] >= 20) & (df["hp"] > 100),] # Don't foget the comma to get all columns!

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [8]:
subset(x=df, subset=(mpg>=20) & (hp>100)) # Subset function can do the same filtering

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

**Logical Operators with Vectors**

* We can perform logical operations in two ways: 
    * Compare entire vector element by element `(&, |, !)` 
    * Compare the first elements of of the vectors `(&&, ||, !!)`

In [9]:
tf <- c(TRUE,FALSE)
tt <- c(TRUE,TRUE)
ft <- c(FALSE, TRUE)

In [10]:
tt & tf

[1]  TRUE FALSE

In [11]:
tt && tf

[1] TRUE

#### <center> `if-else` and `else-if` Statements </center>

The if statement executes a block of code if the condition is true.

General syntax of **`if`** statement.

**`if (condition){`**

**`            execute some code`**           
**`}`**

In [12]:
hot <- FALSE 
temp <- 60

In [13]:
if (temp > 80){ 
    hot <- TRUE 
    } 
hot

[1] FALSE

The `if else` statement, executes the first block of code if the condition is TRUE, and the second block of code if the condition is FALSE.

General syntax of **`if else`** statement

**`if (condition) {`**

**`  # Code to execute if true`**

**`} else {`**

**`  # Code to execute if above was not true`**

**`}`**

In [14]:
temp <- 30 

if (temp > 90){
    print("Hot outside!")
} else { 
    print("Not hot outside!")
}

[1] "Not hot outside!"

#### **`else if` Statement**

The `else if` statement checks multiple conditions. Often it includes a final `else` statement to execute code if none of the conditions are TRUE.

In [ ]:
temp <- 30 

if (temp > 80){ 
    print("Hot outside!")
} else if (temp<80 & temp>50){
    print("It's nice outside!")
} else if (temp<50 & temp>32){
    print("It's coller outside!")
} else{ 
    print("It's really cold outside!")
}

### <center> Loops </center> 

**While Loops**

* **`while`** loops repeatetly execute a block of code while a condition is true.
* A major concern of a is that the condition at some point should become FALSE, otherwise the loop will run for ever (**infinite loop**)!
* In such a case press **`Ctrl-C`** to kill a process in RStudio. 
* General syntax of a while loop: 

**`while (condition){`**

**`    # execute executed here`**

**`}`**

An example:

In [ ]:
x <- 0 

while(x < 5){
    cat("x is currently: ", x)
    print(" x is still less than 5. Adding 1 to x")
    
    x <- x+1
    if(x==5){ 
        print("x is equal to 5. Terminating loop!")
        } 
    }

* You can also use **`break`** to break out of a loop.

In [ ]:
x <- 0 

while(x < 5){
    cat("x is currently: ", x)
    print(" x is still less than 5. Adding 1 to x")
    
    x <- x+1
    if(x==5){ 
        print("x is equal to 5. Terminating loop!")
        break
        } 
    }

**For Loops**

* For loops allow us to iterate over an object (e.g. vector) and we can then execute a block of code at every loop.
* General syntax: 

**`for (temp_var in object){`**

**`     # Execute block of code`**

**`}`**

**Loop over a vector**

In [1]:
vec <- c(1,2,3,4,5)
vec2 <- c("a", "b", "c", "d", "e")

In [2]:
# Print each element in vector
for (temp in vec){
    print(temp)
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [ ]:
# Print the element in index location
for (i in 1:length(vec2)){
    print(vec2[i])
    }

**Loop over a list**

In [ ]:
my.list <- list(1,2,3,4,5)

In [22]:
for (i in my.list){ 
    print(i)
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [23]:
for (i in 1:length(my.list)){ 
    print(my.list[[i]]) # Remember the double brackets
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

**For loop over a Matrix**

In [24]:
mat <- matrix(1:9, nrow=3)
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [25]:
for (num in mat){ 
    print(num)
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

**Nested for loops**

In [26]:
for (row in 1:nrow(mat)){ 
    for (col in 1:ncol(mat)){ 
        print(paste("The element at row", row, "and col", col, "is", mat[row,col]))
        } 
    }

[1] "The element at row 1 and col 1 is 1"
[1] "The element at row 1 and col 2 is 4"
[1] "The element at row 1 and col 3 is 7"
[1] "The element at row 2 and col 1 is 2"
[1] "The element at row 2 and col 2 is 5"
[1] "The element at row 2 and col 3 is 8"
[1] "The element at row 3 and col 1 is 3"
[1] "The element at row 3 and col 2 is 6"
[1] "The element at row 3 and col 3 is 9"

#### <center> R Functions </center>

**Ex 1:** Simple function with no arguments.

In [27]:
hello <- function(){
    print("Hello!")
    }

In [28]:
hello()

[1] "Hello!"

**Ex 2:** Simple function with one argument.

In [29]:
hello_you <- function(name){
    print(paste("Hello ", name))
    }

In [30]:
hello_you("Chris")

[1] "Hello  Chris"

**Ex 3:**

In [31]:
add_nums <- function(num1, num2){ 
    print(num1 + num2)
    }

In [32]:
add_nums(2,3)

[1] 5

**Default Values**

In [33]:
hello_someone <- function(name="Johny"){
    print(paste("Hello ", name))
    }

In [34]:
hello_someone()

[1] "Hello  Johny"

In [35]:
hello_someone("Chris")

[1] "Hello  Chris"

**Returning Values**

* So far we've been printing our results. 
* If we wanted to **`return`** the results, so that we could assign them to a variable, we can use the keyword

In [36]:
formal <- function(name="Sam", title="Sir"){
    return(paste(title, " ", name))
    }

In [37]:
formal()

[1] "Sir   Sam"

In [38]:
formal("Isaac Newton")

[1] "Sir   Isaac Newton"

In [39]:
var <- formal("Marie Curie", "Ms")

In [40]:
var

[1] "Ms   Marie Curie"