### <center> R Functions Exerecises </center>

**Ex 1:** Create a function that takes in a name as a string argument, and prints out "Hello name"

In [2]:
hello_you <- function(name){ 
    print(paste("Hello ", name))
          }

In [4]:
hello_you("Chris")

[1] "Hello  Chris"

**Ex 2:** Create a function that takes in a name as a string argument, and returns "Hello name"

In [7]:
hello_you2 <- function(name){ 
    return(paste("Hello ", name))
    }

In [9]:
greeting <- hello_you2("Chris")

In [10]:
greeting

[1] "Hello  Chris"

**Ex 3:** Create a function that will return the product of two integers.

In [14]:
prod <- function(n1, n2){
    return(n1*n2)
    }

In [15]:
prod(3,4)

[1] 12

**Ex 4**: Create a function that accepts two arguments, an integer and a vector of integers. It returns the count of the number of occurences of the integer in the input vector.

In [18]:
num_check <- function(n, v){
    return(n %in% v)
    }

In [19]:
num_check(3, c(1,2,3))

[1] TRUE

**Ex 5:** Create a function that accepts two arguments, an integer and a vector of integers. It returns the count of the number of occurences of the integer in the input vector.

In [22]:
num_count <- function(n, v){ 
    count = 0
    for (i in v){ 
        if (i==1){ 
            count = count + 1
            } 
        } 
    return(count)
    }

In [23]:
num_count(2,c(1,1,2,2,3,3))

[1] 2

In [24]:
num_count(1,c(1,1,2,2,3,1,4,5,5,2,2,1,3))

[1] 4

**Ex 6:** We want to ship bars of aluminum. We will create a function that accepts an integer representing the requested kilograms of aluminum for the package to be shipped. To fullfill these order, we have small bars (1 kilogram each) and big bars (5 kilograms each). Return the least number of bars needed.

For example, a load of 6 kg requires a minimum of two bars (1 5kg bars and 1 1kg bars). A load of 17 kg requires a minimum of 5 bars (3 5kg bars and 2 1kg bars).

In [25]:
bar_count <- function(n){ 
    return(n%%5 + n%/%5) 
    }

In [26]:
bar_count(6)

[1] 2

In [27]:
bar_count(17)

[1] 5

**Ex 7:** Create a function that accepts 3 integer values and returns their sum. However, if an integer value is evenly divisible by 3, then it does not count towards the sum. Return zero if all numbers are evenly divisible by 3. Hint: You may want to use the append() function.

In [56]:
summer <- function(n1, n2, n3){
    
    v <- c(n1, n2, n3)
    result = 0
    
    for(i in 1:length(v)){ 
        if (v[i]%%3==0){
            v[[i]] <- 0
            }
        }
    
    return(sum(v))
    
    }

In [57]:
summer(7,2,3)

[1] 9

In [58]:
summer(3,6,9)

[1] 0

In [59]:
summer(9,11,12)

[1] 11