### <center> Data Manipulation with R </center>

* In this section we will be focusing on simplifying the syntax to perform data operations we are already familiar with.
* We will do this by learning: 
    * **`dplyr` for manipulating data**
    * **`tidyr` for clearning data** 
    * **`%>%` (Piper Oprerator) to further simplify our syntax**

### **`dplyr()` library**

**Installing**

In [1]:
install.packages("dplyr")

also installing the dependencies 'ellipsis', 'glue', 'lifecycle', 'rlang', 'tibble', 'tidyselect', 'vctrs', 'pillar'

  There are binary versions available but the source versions are later:
       binary source needs_compilation
tibble  3.1.1  3.1.4              TRUE
pillar  1.6.0  1.6.2             FALSE
dplyr   1.0.6  1.0.7              TRUE

  Binaries will be installed
package 'ellipsis' successfully unpacked and MD5 sums checked
package 'glue' successfully unpacked and MD5 sums checked
package 'lifecycle' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'vctrs' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\foufo\AppData\Local\Temp\RtmpY3PGmr\downloaded_packages

installing the source package 'pillar'

**Run the package**

In [2]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

**Install Example Data**
* Let's use some flight data for our examples. We will download the "nycflights13" data package.

In [4]:
install.packages('nycflights13', repos = 'http://cran.us.r-project.org')

package 'nycflights13' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\foufo\AppData\Local\Temp\RtmpY3PGmr\downloaded_packages

In [7]:
library(nycflights13)

**Note that when you get the message "The following objects are masked". In this case `filter`, `lag`, `intersect`, etc. What this means is that these dplyr functions are going to overwrite the default functions for R.**

In [11]:
nrow(flights)

[1] 336776

In [9]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [13]:
# summary(flights)

* With **`dplyr`** we are going to focus on a few key functions that allow us to easily manipulate our data.

| Function | Description | Example |
| ---- | ---- | ---- |
|**`filter()`**| Select a subset of rows, by expressions that filter the data frame. You can also use logical operators **`(&, \|, !)`** inside. |`filter(flights, month==11, day==3, carrier=="AA")` |
|**`slice()`** | Select rows by position in a data frame | `slice(flights, 1:3)` |
|**`arrange()`** | Sort a data frame based on a set of column names | `arrange(flights, year, month, day, air_time)` |
|**`desc()`** | Can be used inside the `arrange()` to sort a column in descending order| `arrange(flights, desc(dep_delay), 3)` |
|**`select()`** | Select specific columns of a data frame | `select(flights, carrier)` |
|**`rename()`** | Rename columns in a data frame.  **This is not in-place!** | `rename(flights, airline_carrier = carrier)` |
|**`distinct()`** | Returns the distinct values in a data frame.  Often used with `select()` to select specific column | `distinct(select(flights, carrier))` |
|**`mutate()`** | Create new columns that are functions of existing columns |`mutate(flights, total_delay = arr_delay+dep_delay)` |
|**`transmute()`** |Use transmuate when you only want the new columns |`transmute(flights, total_delay = arr_delay+dep_delay)` |
|**`summarise()`** |Use aggregate results of data frames into single rows. Remember `na.rm=TRUE` to remove NA values. | `summarise(flights, avg_air_time=mean(air_time, na.rm=TRUE))`|
|**`sample_n()`** | Get a random sample of n rows from data frame | `sample_n(flights, 3)` | 
|**`sample_frac()`**| Get a random sample of a percentage of a data frame (expressed as decimal)| `sample_frac(flights, 0.000005)` |

* Full documentation of **`dplyr`** can be found **[here](https://cran.r-project.org/web/packages/dplyr/dplyr.pdf)**.

* Below are some examples:

* You can also use logical operators **`(&, |, !)`** inside **`filter()`**

In [15]:
head(filter(flights, month==11, day==3, carrier=="AA"), 3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00

* This is simpler command format than the data frame way:

In [16]:
head(flights[flights$month == 11 & flights$day == 3 & flights$carrier == 'AA', ], 3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00

In [17]:
slice(flights, 1:3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3 33        AA      1141   N619AA  JFK    MIA  160      1089     5    40
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00

In [19]:
head(arrange(flights, year, month, day, air_time), 3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   2302     2200           62        2342     2253
2 2013 1     1   1318     1322           -4        1358     1416
3 2013 1     1   2116     2110            6        2202     2212
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  49       EV      4276   N13903  EWR    BDL  24       116      22    0
2 -18       EV      4106   N19554  EWR    BDL  25       116      13   22
3 -10       EV      4404   N15912  EWR    PVD  28       160      21   10
  time_hour
1 2013-01-01 22:00:00
2 2013-01-01 13:00:00
3 2013-01-01 21:00:00

In [21]:
head(arrange(flights, desc(dep_delay), 3))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

In [22]:
head(select(flights, carrier), 3)

  carrier
1 UA
2 UA
3 AA

In [24]:
head(rename(flights, airline_carrier = carrier), 3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay airline_carrier flight tailnum origin dest air_time distance hour
1 11        UA              1545   N14228  EWR    IAH  227      1400     5
2 20        UA              1714   N24211  LGA    IAH  227      1416     5
3 33        AA              1141   N619AA  JFK    MIA  160      1089     5
  minute time_hour
1 15     2013-01-01 05:00:00
2 29     2013-01-01 05:00:00
3 40     2013-01-01 05:00:00

In [26]:
distinct(select(flights, carrier)) # Returns distinct carriers in data set

   carrier
1  UA
2  AA
3  B6
4  DL
5  EV
6  MQ
7  US
8  WN
9  VX
10 FL
11 AS
12 9E
13 F9
14 HA
15 YV
16 OO

In [27]:
head(mutate(flights, total_delay = arr_delay+dep_delay), 3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3 33        AA      1141   N619AA  JFK    MIA  160      1089     5    40
  time_hour           total_delay
1 2013-01-01 05:00:00 13
2 2013-01-01 05:00:00 24
3 2013-01-01 05:00:00 35

In [28]:
head(transmute(flights, total_delay = arr_delay+dep_delay), 3)

  total_delay
1 13
2 24
3 35

In [30]:
summarise(flights, avg_air_time=mean(air_time, na.rm=TRUE))

  avg_air_time
1 150.6865

In [31]:
sample_n(flights, 3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    15  2101     2105           -4        2351       10
2 2013  8     8   959     1000           -1        1232     1235
3 2013 11     2   907      910           -3        1153     1204
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -19       UA       371   N403UA  EWR    FLL  155      1065     21    5
2  -3       DL      1847   N914DL  LGA    ATL  104       762     10    0
3 -11       UA       997   N539UA  EWR    LAX  316      2454      9   10
  time_hour
1 2013-11-15 21:00:00
2 2013-08-08 10:00:00
3 2013-11-02 09:00:00

In [33]:
sample_frac(flights, 0.000005)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12    11  1536     1545           -9        1912     1905
2 2013 10    31  2052     2100           -8        2321     2345
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   7       AA      1156   N3FDAA  LGA    DFW  232      1389     15   45
2 -24       B6       499   N606JB  LGA    MCO  130       950     21    0
  time_hour
1 2013-12-11 15:00:00
2 2013-10-31 21:00:00

### Pipe Operator **`%>%`**

* The pipe operator is very useful when you are working with the `dplyr` or `tidyr` libraries, as it allows us to chain together multiple operations/functions on a dataset.
* This helps avoid long nested operations or doing multiple assignments.

In [34]:
df <- mtcars

* Let's do multiple operations using nesting and multiple assignments first, to see the motivation behind nexting

In [35]:
result = arrange(sample_n(filter(df, mpg>20), 5), desc(mpg))

In [36]:
result

              mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Honda Civic   30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Lotus Europa  30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Porsche 914-2 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Volvo 142E    21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Mazda RX4 Wag 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4

In [37]:
a <- filter(df, mpg>20)
b <- sample_n(a, size=5)
c <- arrange(b, desc(mpg))
c

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1

**Using the Pipe Operator**

* So it is creating a pipeline where all these operations are chained in order to get the desired final result.
* Since we are stating the dataset in the begining, you don't need to state the dataset in the dplyr operations in the pipeline.

In [47]:
df %>% filter(mpg > 20) %>% sample_n(size = 5) %>% arrange(desc(mpg))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4

### **`tidyr()`** library

* **`tidyr()`** is a complementary package that helps us creade *"tidy data"*. 
* *"Tidy data"* is when we have a data set where every row is an onservation, and every column is a variable. 
* This way, the data is organized in such a way where every cell is a value for a specific variable of a specific observation. 
* Having your data in this format will help you build an understanding of your data and allow you to analyze and visualize it quickly and efficiently. 
* After viewing this lecture, you can regerence this handy cheatsheet on **[Data Wrangling](https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf)**.

In [48]:
install.packages("tidyr", repos='http://cran.us.r-project.org')

also installing the dependency 'cpp11'

  There is a binary version available but the source version is later:
      binary source needs_compilation
cpp11  0.2.7  0.3.1             FALSE

package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\foufo\AppData\Local\Temp\RtmpY3PGmr\downloaded_packages

installing the source package 'cpp11'

**`Data.frames` versus `data.tables`**

In [49]:
library(tidyr)
library(data.table)

Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'data.table' was built under R version 3.6.3"
Attaching package: 'data.table'

The following objects are masked from 'package:dplyr':

    between, first, last

* All **`data.tables`** are also **`data.frames`**. 
* Loosely speaking, you can think of **`data.tables`** as **`data.frames`** with extra features. 
* **`data.frame`** is part of base R. 
* **`data.table`** is a package that extends **`data.frames`**. 
* Two of its most notable features are **speed** and **cleaner syntax**.

* However, the syntax of **`data.table`** is different from the standard R syntax for **`data.frame`**, while being hard for the untrained eye to distinguish at a glance. 
* Therefore, if you read a code snippet and there is no other context to indicate you are woking with **`data.tables`**, and try to apply the code to a **`data.frame`** it may fail or produce unexpected results.

* So what are some of the practical differences? Here are a few: 
    * Much faster and very intuitive **`by`** operations
    * You won't accidentally print out a huge **`data.frame`** with the need to press **`Ctrl + C`**. **`data.table`** prevents this soft of accident. 
    * Faster and better file reading with **`fread`**
    * The package also provides a number of other utility functions, like **`%between%`** or **`rbinglist`** that make life better. 
    * Pretty much faster for a lot of basic operations, since a lot of **`data.frame`** operations copy the entire thing needlessly.

* We'll comver some of the most useful functions in **`tidyr`** 

|Function | Description | Example |
| ---- | ---- | ---- |
| **`gather()`** | Collapse multiple columns into key-pair values (unpivot) | `df %>% gather(key=Quarter, value=Revenue,Qrt1:Qrt4)`, `gather(df,Quarter,Revenue,Qtr1:Qtr4)`| 
| **`spread()`** | Seperate one column into multiple ones (pivot) | |
| **`seperate()`** | Split one column into multiple ones | | 
|**`unite()`**| Unite multiple columns into one| |

#### **`gather()` function**

In [66]:
comp <- c(1,1,1,2,2,2,3,3,3)
yr <- c(1998,1999,2000,1998,1999,2000,1998,1999,2000)
q1 <- runif(9, min=0, max=100)
q2 <- runif(9, min=0, max=100)
q3 <- runif(9, min=0, max=100)
q4 <- runif(9, min=0, max=100)

df <- data.frame(comp=comp, year=yr, Qrt1=q1, Qrt2=q2, Qrt3=q3, Qrt4=q4)

In [51]:
df

  comp year Qrt1     Qrt2     Qrt3      Qrt4
1 1    1998 85.50928 84.40820 77.752912 84.31126
2 1    1999 84.30749 85.55785 29.643110 87.67710
3 1    2000 83.68712 55.80034 82.335990 30.10332
4 2    1998 16.37559 34.91886 85.610310 90.07933
5 2    1999 45.87771 95.55847 87.409489 35.51604
6 2    2000 99.96862 83.82891 67.277887 75.19430
7 3    1998 52.52276 95.43179 67.680642 95.14699
8 3    1999 66.53692 55.13297  5.464076 47.12855
9 3    2000 34.80356 79.97779 51.583958 97.45794

In [62]:
head(df %>% gather(key=Quarter, value=Revenue, Qrt1:Qrt4))

  comp year Quarter Revenue
1 1    1998 Qrt1    85.50928
2 1    1999 Qrt1    84.30749
3 1    2000 Qrt1    83.68712
4 2    1998 Qrt1    16.37559
5 2    1999 Qrt1    45.87771
6 2    2000 Qrt1    99.96862

In [65]:
head(gather(df, Quarter, Revenue, Qrt1:Qrt4)) # With just a function, rather than a pipeline.

  comp year Quarter Revenue
1 1    1998 Qrt1    85.50928
2 1    1999 Qrt1    84.30749
3 1    2000 Qrt1    83.68712
4 2    1998 Qrt1    16.37559
5 2    1999 Qrt1    45.87771
6 2    2000 Qrt1    99.96862

#### **`spread()` function**

In [68]:
stocks <- data.frame(
    time = as.Date("2000-01-01") + 0:9,
    X = rnorm(10, 0, 1),
    Y = rnorm(10, 0, 2),
    Z = rnorm(10, 0, 4)
    ) 
stocks

   time       X          Y            Z
1  2000-01-01  1.8353833 -1.881009320  3.7109639
2  2000-01-02 -0.0589313 -0.009171763 -4.4105676
3  2000-01-03 -1.0664810  0.282509861  3.1070467
4  2000-01-04 -0.1053815 -2.774872171  1.8875408
5  2000-01-05  0.1035560  1.252048406 -0.6745682
6  2000-01-06  0.7490998  2.499377063  0.4645009
7  2000-01-07  0.5936635 -1.461826485 -3.5594234
8  2000-01-08  0.4976469  1.269312880 -5.9076872
9  2000-01-09 -1.4314654  1.353422450  0.3840952
10 2000-01-10  2.3589538  2.723883166  2.9850815

In [71]:
stocks.gathered <- stocks %>% gather(key=stock, value=price, -time) # all columns except time!

In [72]:
stocks.gathered

   time       stock price
1  2000-01-01 X      1.835383289
2  2000-01-02 X     -0.058931298
3  2000-01-03 X     -1.066480981
4  2000-01-04 X     -0.105381486
5  2000-01-05 X      0.103556012
6  2000-01-06 X      0.749099814
7  2000-01-07 X      0.593663544
8  2000-01-08 X      0.497646885
9  2000-01-09 X     -1.431465395
10 2000-01-10 X      2.358953840
11 2000-01-01 Y     -1.881009320
12 2000-01-02 Y     -0.009171763
13 2000-01-03 Y      0.282509861
14 2000-01-04 Y     -2.774872171
15 2000-01-05 Y      1.252048406
16 2000-01-06 Y      2.499377063
17 2000-01-07 Y     -1.461826485
18 2000-01-08 Y      1.269312880
19 2000-01-09 Y      1.353422450
20 2000-01-10 Y      2.723883166
21 2000-01-01 Z      3.710963907
22 2000-01-02 Z     -4.410567594
23 2000-01-03 Z      3.107046719
24 2000-01-04 Z      1.887540771
25 2000-01-05 Z     -0.674568224
26 2000-01-06 Z      0.464500859
27 2000-01-07 Z     -3.559423405
28 2000-01-08 Z     -5.907687212
29 2000-01-09 Z      0.384095198
30 2000-01-10 Z      2.985081519

In [73]:
stocks.gathered %>% spread(key=stock, value=price)

   time       X          Y            Z
1  2000-01-01  1.8353833 -1.881009320  3.7109639
2  2000-01-02 -0.0589313 -0.009171763 -4.4105676
3  2000-01-03 -1.0664810  0.282509861  3.1070467
4  2000-01-04 -0.1053815 -2.774872171  1.8875408
5  2000-01-05  0.1035560  1.252048406 -0.6745682
6  2000-01-06  0.7490998  2.499377063  0.4645009
7  2000-01-07  0.5936635 -1.461826485 -3.5594234
8  2000-01-08  0.4976469  1.269312880 -5.9076872
9  2000-01-09 -1.4314654  1.353422450  0.3840952
10 2000-01-10  2.3589538  2.723883166  2.9850815

In [74]:
stocks.gathered %>% spread(key=time, value=price)

  stock 2000-01-01 2000-01-02   2000-01-03 2000-01-04 2000-01-05 2000-01-06
1 X      1.835383  -0.058931298 -1.0664810 -0.1053815  0.1035560 0.7490998
2 Y     -1.881009  -0.009171763  0.2825099 -2.7748722  1.2520484 2.4993771
3 Z      3.710964  -4.410567594  3.1070467  1.8875408 -0.6745682 0.4645009
  2000-01-07 2000-01-08 2000-01-09 2000-01-10
1  0.5936635  0.4976469 -1.4314654 2.358954
2 -1.4618265  1.2693129  1.3534224 2.723883
3 -3.5594234 -5.9076872  0.3840952 2.985082

#### **`seperate()` function**

In [80]:
df <- data.frame(x=c(NA, "a-x", "b-y", "c-z"))
df

  x
1 NA
2 a-x
3 b-y
4 c-z

* If the seperator is a non alphanumeric character, the `seperate` function will automatically detect it without having to specify `sep=`, which can be a character, or a regural expression.

In [89]:
# If we enter the `sep="."` argument, for some reason it doesn't work.
df.seperated = df %>% separate(col=x, into=c("x1", "x2")) 
df.seperated

  x1 x2
1 NA NA
2 a  x
3 b  y
4 c  z

In [90]:
unite(data=df.seperated, col="X12", c("x1", "x2"), sep=".")

  X12
1 NA.NA
2 a.x
3 b.y
4 c.z