### <center> Interactive Visualizations with **`plotly`** </center>

* In this section we are going to explain what **`plotly`** is and we are going to convert our **`ggplot`** knowledge to plotly and make interactive visualizations without having to learn any more new material. 

* What is plotly: 
    * Plotly website is **[here](https://plot.ly)**
    * you can install plotly and do plotly graphs: 
    * **`library(plotly)`**
    * **`p <- plot_ly(data=midwest, x=percollege, color=state, type="box")`**
* That said, plotly, has a **`ggplotly`** function which can convert **`ggplot`** figures into ingraphs interactive graphs!
* Full list of **`ggplotly()`** examples can be found **[here](https://plotly.com/ggplot2/)**.

In [2]:
library(ggplot2)
library(plotly)

Registered S3 methods overwritten by 'tibble':
  method     from
  format.tbl pillar
  print.tbl  pillar

ERROR: Error in library(plotly): there is no package called 'plotly'

In [3]:
head(x=mtcars, n=3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [4]:
pl <- ggplot(data=mtcars, aes(x=mpg, y=wt)) + 
        geom_point()

pl <- ggplotly(pl)  # With this command we convert the ggplot graph to a plotly graph!
pl

ERROR: Error in ggplotly(pl): could not find function "ggplotly"